<% form_for(:entry, :url => group_entries_path, :html => { :multipart => true }) do |f| -%>
<%= hidden_field_tag "entry_type", @entry[:type] %>
  <p>
	Titulo<br/>
	<%= f.text_field :title, :size => 40 -%>
   </p>
   <p> 
    Upload a Photo:<br />
    <%= f.file_field :uploaded_data %>
  </p>
  <p>Caption<br />
  <p><%= f.text_area :body, :rows => 10, :cols => 60 -%></p>
  
   <p>Etiquetas (separadas con una coma ','): <%= f.text_field :tag_list %></p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end -%>
